<?xml version="1.0" encoding="UTF-8"?>
<!--放在server.xml host节点下-->
<Context path="/quickstart" docBase="quickstart">
			<Resource name="jdbc/quickstart" scope="Shareable" type="javax.sql.DataSource"/>
			<ResourceParams name="jdbc/quickstart">
				<parameter>
					<name>factory</name>
					<value>org.apache.commons.dbcp.BasicDataSourceFactory</value>
				</parameter>
				<!--DBCP database connection settings-->
				<parameter>
					<name>url</name>
					<value>jdbc:postgre</value>
				</parameter>
				<parameter>
					<name>driverClassName</name>
					<value>jdbc:postgre</value>
				</parameter>
				<parameter>
					<name>username</name>
					<value>jdbc:postgre</value>
				</parameter>
				<parameter>
					<name>password</name>
					<value>jdbc:postgre</value>
				</parameter>
				<!--DBCP connection pooling options-->
				<parameter>
					<name>maxWait</name>
					<value>3000</value>
				</parameter>
				<parameter>
					<name>maxIdle</name>
					<value>100</value>
				</parameter>
				<parameter>
					<name>maxActive</name>
					<value>10</value>
				</parameter>
			</ResourceParams>
</Context>
